@import '~handsontable/dist/handsontable.full.css';

/* common */
p {
  padding-left: .2em;
}
.clear{
  clear: both;
}

/* header */

.header {
  max-width: 800px;
}

.logo {
  max-width: 50px;
  margin: 0 1em;
}

h1, h2 {
  float: left;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  padding: .2em;
  /* padding-top: 30px; */
}
.menu{
  font-size: .8em;
  word-spacing: 8px;
}

.share {
  float: right;
  background-image: none;
  border-radius: 4px;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 9px 24px 11px 24px;
  margin-top: 20px;
  background: #188038;
  color: #fff;
  text-transform: capitalize;
}

.language_selection {
  float: right;
  margin-top: 30px;
  margin-right: 1em;
}


.error {
  margin: 1em;
  padding: .5em;
  display: inline-block;
  background: #ffc107;
}

hr.separator {
  /* lighter version of 4th hr here https://css-tricks.com/examples/hrs/ */
  height: 4px;
  border: 0;
  box-shadow: inset 0 6px 12px -12px rgba(0, 0, 0, 0.5);
}

/* body */

.tableContainer {
  position: relative;
}

.enemyCell {
  position: absolute;
  z-index: 1000;
  width: 100px;
  height: 20px;
  border: 2px solid green;
}

.c-enemy {
  box-shadow: 0 0 0 2px green inset !important;
  /* border: 2px solid green !important; */
}

/* google style */
.c-enemy-name {
  border-radius: 2px;
  box-sizing: border-box;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  padding: 1px 2px;
}
.range-border {
    position: absolute;
    border-width: 0;
    border-style: solid;
    padding: 0;
    /* _overflow: hidden; */
}

.range-border .top {
  border-top-width: 2px;
  user-select: none;
  border-color: rgb(31, 161, 93);
  top: -1px;
  left: -1px;
  width: 102px;
}