@import '~handsontable/dist/handsontable.full.css';

.App {
  text-align: center;
}

.main {
  /* margin-left: 1em; */
}

h2 {
  font-size: 18px;
  font-weight: normal;
  padding: .2em;
  border-bottom: 1px solid #ccc;
}

.logo {
  max-width: 100px;
}

td {
  /* border: 2px solid red !important; */
}

.App-link {
  color: #09d3ac;
}

.c-enemy {
  box-shadow: 0 0 0 2px #5292F7 inset !important;
  
}

.area {
  border: 4px solid red !important;
}